<header>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<nav class="navbar navbar-expand-lg navbar-light ">
					<a class="navbar-brand" href="~/Home/Index">
						<img src="~/Home/images/logo3.png" alt="">
					</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="">
						
								<input type="text" class="form-control my-2 my-lg-0" id="inputtext4" placeholder="Ne Aramak İstiyorsunuz?">
							</div>

					

					  <ul class="navbar-nav ml-auto mt-10" style="padding-left:10px;"> 
							<li class="nav-item">								
								<a class="nav-link login-button" href="" style="background-color:black; color:white;">Ara</a>
							</li>
					   </ul>
					

					@*	<ul class="navbar-nav ml-auto main-nav ">
							<li class="nav-item">
								<a class="nav-link" href="" style="color:black;">Anasayfa</a>
							</li>							
						</ul>*@

						<ul class="navbar-nav ml-auto mt-10" >
							<li class="nav-item">
								<a class="nav-link login-button" href="~/Login/Index">Giriş Yap</a>
							</li>
							<li class="nav-item">
								<a class="nav-link login-button"  href="~/Register/Index">Kayıt Ol</a>
							</li>
							<li class="nav-item" >
								<a class="nav-link text-white add-button" style="background-color:#0984e3;" href=""><i class="fa fa-plus-circle"></i> İlan Ver</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
	</div>
</header>


<section class="page-search" style="padding:15px 0px; background:black;">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- Advance Search -->
				
			</div>
		</div>
	</div>
</section>
