@model IEnumerable<EntitiyLayer.Concrete.Series>

<div class="category-sidebar" >
 <div class="widget category-list" style="border-style: groove;">
	<h4 class="widget-header" style="text-align:center; font-weight:bold; font-size:22px;">Seriler</h4>
	@*<a href="~/Home/BrandList" style="font-weight:bold; text-decoration: underline; color:darkblue;"><<< Geri</a>*@
		<button onclick="history.back()" style="border: none; background-color: white; color:blue; font-weight:bold; font-size:17px; text-decoration: underline;"> <<< Geriye Git</button>
	<ul class="category-list">
			@foreach (var x in Model)
			{
				<li><a href="~/Home/ModelList/@x.SeriesID" style="font-size:16px;">@x.SeriesName <span>1</span></a></li>
			}
	</ul>
</div>
</div>