 <footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
       Aracim.com/Kullanıcı
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2023 <a href="">Samet Yücel</a>.</strong> All rights reserved.
  </footer>