@model EntitiyLayer.Concrete.Vehicle

<div class="category-sidebar" >
 <div class="widget category-list" style="border-style: groove;">
	<h4 class="widget-header" style="text-align:center; font-weight:bold; font-size:22px;">Model</h4>
		<button onclick="history.back()" style="border: none; background-color: white; color:blue; font-weight:bold; font-size:17px; text-decoration: underline;"> <<< Geriye Git</button>
	<ul class="category-list">
			
			
	<li><a href="#" style="font-size:16px;">@Model.Model.ModelName <span>1</span></a></li>
			
	</ul>
</div>
</div>