@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@model IEnumerable<EntitiyLayer.Concrete.Message2>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Owner/Views/Shared/OwnerLayout.cshtml";
}


    <!-- Content Header (Page header) -->
<section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Mesajlarım</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Profilim</a></li>
              <li class="breadcrumb-item active">Mesajlarım</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">   
        <div class="col-md-12">
          <div class="card card-primary card-outline">

            <div class="card-header">
              <h3 class="card-title">Gelen Kutusu</h3>

              <div class="card-tools">
                <div class="input-group input-group-sm">
                  <input type="text" class="form-control" placeholder="Mesaj Ara">
                  <div class="input-group-append">
                    <div class="btn btn-primary">
                      <i class="fas fa-search"></i>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-tools -->
            </div>



            <!-- /.card-header -->
            <div class="card-body p-0">
         
              <div class="table-responsive mailbox-messages">
                <table class="table table-hover table-striped">
                  <tbody>
                    @foreach (var x in Model)
                    {
                       <tr>                   
                        <td class="mailbox-star"><a href="#"><i class="fas fa-star text-warning"></i></a></td>
                        <td class="mailbox-name"><a href="read-mail.html">@x.SenderUser.UserName</a></td>
                            <td class="mailbox-subject"><a href="~/Owner/Message/DetailMessage/@x.MessageID"><b>@x.Subject</b></a></td>
                        <td class="mailbox-attachment"></td>
                        <td class="mailbox-date">5 Gün Önce</td>
                      </tr>
                        
                    }                  

                  </tbody>
                </table>               
              </div>
              <!-- /.mail-box-messages -->
            </div>
            <!-- /.card-body -->
         
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->


 <br />


@Html.PagedListPager((IPagedList)Model, page=>Url.Action("Index", new{page = page}),
      new PagedListRenderOptions(){

         ContainerDivClasses=new[] {"navigation"},
         LiElementClasses=new [] {"page-item"},
         PageClasses =new[] {"page-link"},
      })


