 
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div id="chartdiv" stystyle="width:800px; height:600px">
            <h1>Burası Chart Alanı</h1>
        </div>
    </div>
</div>

