@model IEnumerable<EntitiyLayer.Concrete.Message2>

       <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-comments"></i>
          <span class="badge badge-danger navbar-badge">3</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
            @foreach (var x in Model)
        {
                     <a href="~/Admin/Message/Index" class="dropdown-item">
                <!-- Message Start -->
                    <div class="media">      
                    <img src="~/img/blank-profile-picture-973460_640.png" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                  <div class="media-body">
                        <h3 class="dropdown-item-title" style="font-weight:bold;">
                      @x.SenderUser.UserName
                      <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                    </h3>
                    <p class="text-sm">@x.Subject</p>
                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Saat Önce</p>
                  </div>
                </div>
                <!-- Message End -->
              </a>
              <div class="dropdown-divider"></div>
        }
         
          

          <a href="~/Admin/Message/Index" class="dropdown-item dropdown-footer">Tüm Mesajları Gör</a>
        </div>
      </li>